apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: vote-app
spec:
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80
      nodePort: 31688   # or omit nodePort and let K8s pick one
  type: NodePort
